body {
  color: rgba(65,75,86);
  font-family: arial;
  margin: 0px;
<<<<<<< HEAD
  background-color: lightblue;
=======
  background-color: #B0E0E6;
>>>>>>> 0cf09be0c6bb512703352461db5d2b9f556f3d1a
}
