
body {
  color: rgba(65,75,86);
  font-family: arial;
  margin: 0px;
  background-color: #B0E0E6;
}

Div {
  min-height:100vh;
  min-width: 100vw;
}

h1,h2,h3,h4 {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color:#00008B
}

h2 {
  font-size: 1em;
  color: black;
}

h3 {
  font-size: 0.9em;
  color: black;
}

h4 {
  font-size: 0.6em;
  color: black;
}

iframe {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
}

a{
  color: rgb(0,0,0);
}

form-group {
  display: flex;
  padding: 15px 0;
  margin:20 auto;
  height: 40px;
  font-size:18pt
  width: 280px;

}
